{% extends "header.html" %}
{% set page_title = "Redaguoti receptą" %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <h1 class="text-center">Redaguoti receptą</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h3>PASTABA: būtų pasiekiama tiktais tokių sistemos vartotojų, kurie turi receptų kūrėjo rolę bei sukūrė norimą redaguoti receptą.</h3>
            <p>Čia būtų forma redaguoti receptą. Šone būtų mygtukai, kurie leistų pridėti nuotraukas, video ir panašiai (būtų prie recepto aprašymo). Taip pat šone būtų mygtukas, kuris leistų pridėti recepto žingsnius su nuotraukomis. Anksčiau paminėtų funkcionalumų formos atsidarytų atsidarytų ant viršaus dabartinio lango. Prieš tai užpildyti duomenys jau būtų surašyti į įmanomas formos vietas (pavadinimai, žingsniai ir panašiai)</p>
        </div>
    </div>
{% endblock %}